.footer {
  padding: 4rem 2rem 3rem;
  background-color: #000000;
}

.footer-copyRight {
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  font-size: var(--small-font);
  border-top: 2px solid var(--text-color-light);
  color: rgba(255, 255, 255, 0.8);
}
